#categories {
  margin-bottom: 100px;
}

#boxContainer{

  margin-top: 5rem;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  justify-content: center;
}
.box {
  display: flex;
  padding: 15vh 10vw;
  background:var(--cor-p1);
  text-align: center;
  border: 1px solid var(--cor-11);
}
@media (max-width: 740px) {
  #boxContainer {
    display: flex;
    overflow-x: auto;
    justify-content: flex-start;
  }
  .box {

    justify-content: center;
    text-align: center;
    min-width: 250px;
  }
 

}
@media (max-width:680px) {
  #categories {
    margin-top: 30vh;
    
  }
}



@media (max-width:560px) {
  #categories {
    margin-top: 40vh;
  }

}

@media (max-width:320px){
  #categories {
    margin-top: 60vh;
  }
}

