#search {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 4rem;
}


#best {
  margin-bottom: 2rem;
}

#subHeader {
  margin-top: 2rem;
}

@media (max-width:620px) {

  #subHeader {
    margin-top: 24rem;
  }
}



@media (max-width:320px) {

  #subHeader {
    margin-top: 30rem;
  }
}
